@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* Apply Poppins font to all elements */
}

body {
  background-color: #5D0B13
    /* min-height: 100vh;
  display: flex;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  background-color: #191414; */
    /* background-image: url('bg.png'); /* Replace 'bg.png' with the actual path to your image */
    /* background-repeat: no-repeat;
  /* background-size: 600px 610px;
  overflow: hidden; /* Remove scrollable behavior */
}

.auth-wrapper {
  margin-left: 60%;
}

.auth-inner {
  width: px;
  height: 590px;
  background: #191414;
  padding: 40px 55px 45px 55px;
  border-radius: 0%;
  transition: all .3s;
  box-shadow: 0px 14px 100px #191414;
}

.auth-wrapper .form-control:focus {
  border-color: #1ED760;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
  color: #FFFFFF;
}

.custom-control-label {
  font-weight: 400;
  color: #FFFFFF;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #B3B3B3;
  margin: 0;
}

.forgot-password a {
  color: #1ED760;
}

/* Responsive adjustments */
@media only screen and (max-width: 800px) {

  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }

  .right {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {

  /* For mobile phones: */
  .menu,
  .main,
  .right {
    float: none;
    width: 100%;
  }
}

/*Sign up*/
.heading-primary {
  text-align: center;
  margin-bottom: 20px;
}

.heading-primary h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  line-height: 96px;
  display: inline-block;
  color: white;
  margin: 0px 10px 0 0px;
}

.heading-primary h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-size: 52px;
  display: inline-block;
  line-height: 96px;
  color: red;
  margin: 0px 10px 0 0px;
  text-shadow: 1px 1px 0px #F3F3F3;
}

.input-field {
  margin-bottom: 20px;
}

.input-field input {
  color: #9D9797;
  display: inline-block;
  width: 100%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
}

.submit-btn {
  text-align: center;
  margin-bottom: 20px;
}

.submit-btn button {
  background-color: #3F0D06;
  font-family: 'Poppins';
  font-style: normal;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 16px;
  width: 125px;
  height: 40px;
}

.line-breaker {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.line-breaker .line {
  flex: 1;
  height: 1px;
  background-color: #808080;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row .col {
  flex: 1;
}

.row a {
  display: flex;
  align-items: center;
}

.row img {
  width: 30px;
  height: 30px;
  margin-right: 3px;
}

.row span {
  /* margin-left: 30px; */
  color: #fff;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}


/*Log in*/
.heading-primary {
  text-align: center;
  margin-bottom: 20px;
}

.heading-primary h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  line-height: 96px;
  display: inline-block;
  color: white;
  margin: 0 10px 0 0;
}

.heading-primary h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-size: 52px;
  display: inline-block;
  line-height: 96px;
  color: red;
  margin: 0px 10px 0 0px;
  text-shadow: 1px 1px 0px #F3F3F3;
}

.input-field {
  margin-bottom: 20px;
}

.input-field input {
  color: #9D9797;
  display: inline-block;
  width: 100%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
}

.checkbox-field {
  margin-bottom: 20px;
}

.checkbox-field input[type="checkbox"] {
  margin-right: 5px;
}

.checkbox-field label {
  color: gray;
  font-style: italic;
  text-decoration: none;
  display: inline-block;
}

.checkbox-field .forgot-password {
  margin-bottom: 10px;
  margin-left: 170px;
}

.submit-btn {
  text-align: center;
  margin-bottom: 20px;
}

.submit-btn button {
  background-color: #3F0D06;
  font-family: 'Poppins';
  font-style: normal;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 16px;
  width: 125px;
  height: 40px;
}

.line-breaker {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.line-breaker .line {
  flex: 1;
  height: 1px;
  background-color: #808080;
}

/* 
.row {
  display: flex;
  justify-content: space-between;
}

.row .col {
  flex: 1;
}

.row a {
  display: flex;
  align-items: center;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 8px;
}

.row img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.terms-link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

 */



/* NEW CSS */

/* LINE */
.line-breaker {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 1px;
  width: 380px;
}

.line-breaker .line {
  flex: 1;
  height: 1px;
  border: 1px solid #808080;
  margin-bottom: 30px;
  background-color: #808080;
}

.line-breaker span {
  padding: 0 10px;
  color: #A9A9A9;
  font-size: 16px;
  margin-bottom: 30px;
}

/* REGISTER/LOGIN */
.singing-background {
  background-image: url('vocalist-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* This will ensure the image covers the entire element */
  opacity: 1;
  /* This will make the image slightly transparent */
}

.sign-container {
  background-color: #101011;
}

.sign-navbar {
  color: #fff;
  align-items: center;
  white-space: nowrap;
}

.sign-navbar a {
  color: #cacaca;
  text-decoration: none;
  justify-content: center;
  font-size: 15px;
}

.sign-navbar a:hover {
  color: #e31313;
  text-decoration: none;
}


.sign h3 {
  color: #fff;
  white-space: nowrap;
  font-size: 20px;
}

.sign h1 {
  font-weight: 600;
  font-size: 50px;
  color: red;
  text-shadow: 1px 1px 0px #F3F3F3;
  white-space: nowrap;
  margin-top: -80px;
}


.sign-form {
  color: #842828;
}

.sign-form .input {
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #a5a5a5;
  height: 30px;
  font-size: 15px;
  margin-top: -10px;

}

.form-control::placeholder {
  color: #a5a5a5;

}

.sign-form .sign-button {
  background-color: #3F0D06;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 15px;
  border-radius: 30px;
  width: 100px;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  margin-top: -20px;
}

.sign-form .sign-with-button {
  font-size: 17px;
  text-wrap: nowrap;
  width: 300px;
  height: 40px;
  border-radius: 50px;
}

.btn-dark.sign-with-button img {
  width: 30px;
  height: 30px;
  margin-right: 3px;
}

.btn-dark.sign-with-button img.artist {
  margin-top: 3px;
}

.btn-dark.sign-with-button div {
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.agree-to {
  color: #a5a5a5;
  font-size: 15px;
  text-wrap: nowrap;
}

.remember-me {
  color: #a5a5a5;
  font-size: 10px;
  text-wrap: nowrap;
}

.terms-and-conditions {
  color: white;
  cursor: pointer;
  margin-left: 5px;
  font-size: 15px;
  text-wrap: nowrap;

}

.agree-to {
  color: #a5a5a5;
  font-size: 15px;
}

.remember-me {
  color: #a5a5a5;
  font-size: 15px;
}

.terms-and-conditions {
  color: white;
  cursor: pointer;
  margin-left: 5px;
  font-size: 15px;

}


.have-account {
  text-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

.forgot-password {
  color: #a5a5a5;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  font-style: italic;
}

.forgot-password:hover {
  color: #ff0f0f;
  text-decoration: none;
}

/* ARTIST REGISTRATION */
.artist-registration {
  background-image: linear-gradient(rgba(0, 0, 0, 0.343), rgb(0, 0, 0)), url('artist_register.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.artist-registration h1 {
  color: #D9D9D9;
}


/* ADMIN */
.bg-admin-sidebar {
  background: linear-gradient(to bottom, #521B1B, #0D0D0D);
  width: 250px;
  max-width: 500px;
}

.admin-sidebar-text {
  color: #D9D9D9;
}

.admin-name {
  color: #D9D9D9;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
}

.bg-admin-sidebar .admin-pfp {
  width: 65px;
  height: 65px;
  border: 2px solid red;
}

.admin-sidebar-main {
  padding: 10px;
}

.admin-sidebar-main a {
  color: #D9D9D9;
  text-decoration: none;
  font-size: 16px;
}

.admin-sidebar-main a:hover {
  color: #ffffff;
  font-weight: 600px;
}

.admin-white-text {
  color: #D9D9D9;
}

.admin-white-text h1 {
  color: #ffffff;
  font-weight: 800;
  font-size: 28px;
}

.admin-dashboard-item-box {
  background-color: #D9D9D9;
  height: 150px;
}

.admin-dashboard-item-container {
  border-radius: 20px;
  background-color: #D9D9D9;
}

.admin-dashboard-item {
  background-color: #D9D9D9;
  height: 80px;
}

.admin-dashboard-item h1 {
  color: #000000;
  font-weight: 800;
  font-size: 28px;
}

.admin-dashboard-item h2 {
  color: #494949;
  font-size: 20px;
}

.admin-dashboard-item-text h1 {
  color: #000000;
  font-weight: 800;
  font-size: 28px;
}

.admin-dashboard-item-text h2 {
  color: #494949;
  font-size: 20px;
}

.admin-dashboard-item-icon {
  width: 60px !important;
  height: 60px !important;
  object-fit: contain;
}

.admin-dashboard-item-long-box {
  background-color: #D9D9D9;
  border-radius: 10px;
}

#chart-wrapper {
  display: inline-block;
  position: relative;
  height: 100%;
}

.bg-admin-dashboard {
  background: linear-gradient(to bottom, #453939, #202020);
  padding: 30px;
}

/* USER */
.px-3 {
  padding-right: 1em !important;
  padding-left: 2em !important;
  width: 50%;

}

.user-white-text {
  color: #D9D9D9;
  font-size: 20px;
  /* justify-content: center;
  margin-left: 0px;
  margin-top: -110px;
  height: 200px; */
}



.user-white-text a {
  color: #D9D9D9;
  text-decoration: none;
  font-size: 24px;

}

.user-white-text a:hover {
  font-weight: 600;
}

.user-clickable {
  margin-bottom: 0 !important;
}

.user-header {
  font-size: 30px;
  font-weight: 800;
  /* justify-content: left; */
  margin: 0;
  padding: 0;
}

.user-header-2 {
  font-size: 24px;
  font-weight: 300;
}

.bg-user-sidebar {
  background: linear-gradient(to bottom, #521B1B, #0D0D0D);
  width: 250px;
  max-width: 500px;
  z-index: 4;
}

.bg-user {
  position: relative;
  background: #B02D2D;
  z-index: 1;
  padding: 0 !important;
}

.bg-user-dashboard {
  position: relative;
  background: linear-gradient(to bottom, rgba(82, 27, 27, 0), rgba(13, 13, 13, 0.8), rgba(13, 13, 13, 1), rgba(13, 13, 13, 1), #110404);
  z-index: 3;
  overflow: hidden;
}

.circle {
  z-index: 2;
  position: absolute;
  width: 750px;
  height: 600px;
  background-color: #5c1414;
  border-radius: 50%;
  overflow: hidden;
}

.circle-left {
  top: 150px;
  left: 400px;
  overflow: hidden;
}

.circle-right {
  position: fixed;
  top: 250px;
  right: -80px;
  overflow: hidden;
}

.user-pfp {
  width: 65px !important;
  height: 65px !important;
  border: 1px solid red;
  object-fit: cover;
  margin-top: -10px;
  margin-left: 10px;
}

.user-name {
  font-size: 25px;
  font-weight: 500;
  color: #D9D9D9;
  margin-top: -10px;
  margin-left: 10px;
}

.user-sidebar-main a {
  color: #D9D9D9;
  text-decoration: none;
  margin-bottom: 10px;
  position: relative;
  top: -10px;
  /* Adjust this value as needed */
  margin-left: 10px;
  font-size: 25px;
}

.user-sidebar-main a:hover {
  color: #daf019;
}

.user-player {
  height: 15%;
  width: 100%;
  background: #1b1b1b;
  border-top: rgba(255, 255, 255, 0.13) 1px solid;
  min-width: 1000px;
}

.user-search-row {
  /* background: #1b1b1b; */
  background: linear-gradient(to bottom, #430707, #430707dd, #4307077d, #43070700);
  /* border-bottom: rgba(255, 255, 255, 0.13) 1px solid; */
  height: 10vh;
  width: 100%;
  top: 0px;
  right: 10px;
}

.user-search-bar {
  width: 50%;
  /* background-color: #ffffff55; */
}

.user-search-bar::placeholder {
  width: 50%;
  color: rgb(188, 188, 188);
}

.song-name {
  font-size: 16px;
  font-weight: 800px;
}

.song-details {
  color: #D9D9D9;
  font-size: 12px;
}

.song-cover-image {
  width: 10vh !important;
  height: 10vh !important;
  border-radius: 10px;
  object-fit: cover;
}

.custom-scrollbar {
  overflow: auto;
  height: 100vh;
  width: auto;
  justify-content: start;
  display: flex;
  align-content: start;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  padding-right: 50px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 25px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #88888893;
  border-radius: 25px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the handle when hovered */
  border-radius: 25px;
}

.song-container {
  white-space: nowrap;
  /* height: 250px; */
  /* display: contents; */
  line-height: 3;
  /* Adjust the line spacing as needed */
}


.list {
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.song-container .item {
  min-width: 140px;
  width: 25%;
  padding: 15px;
  background-color: #181818;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.4s;
  flex-direction: column;
  align-items: center;
}

.song-container .item:hover {
  background-color: #252525;
  align-items: center;
}

.song-container .item img {
  height: 20vh;
  /* Fixed height */
  width: 25vh;
  /* Fixed width */
  object-fit: cover;
  /* Fit the image inside the container, preserving its aspect ratio */
  border-radius: 10%;
  margin-bottom: 10px;
}

.song-container .item .play {
  position: relative;
  display: none;
}

.song-container .item .play .fa {
  position: absolute;
  right: 10px;
  top: 40px;
  height: 5px;
  width: 10px;
  padding: 25px;
  background-color: #1db954;
  border-radius: 100%;
  opacity: 0;
  transition: all ease 0.4s;
}

.song-container .item:hover .play .fa {
  opacity: 1;
  transform: translateY(-20px);
}

.song-container .item .play .fa .icon {
  width: 15px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 10px;
}


.song-container .item h4 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellzipsis;

}

.song-container .item p {
  color: #989898;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;

}

.song-container .item .artist-image {
  width: 120px;
  height: 100px;
  /* aspect-ratio: 1/1; */
  object-fit: cover;
}

.p-3 {
  padding: 0 !important;
}

.custom-danger-button {
  background-color: #6e0606;
  /* Red background color */
  color: #ffffff;
  /* White text color */
  padding: 10px 20px;
  /* Padding */
  border: none;
  /* Remove border */
  border-radius: 5px;
  /* Add border radius */
  font-size: 20px;
  /* Font size */
  margin: 30px auto;
  /* Center horizontally and add space at top and bottom */
  display: block;
}

/* PLAYER */
.mixify-player {
  background-color: #1b1b1b !important;
}

.rhap_time {
  color: #D9D9D9 !important;
}

.links {
  display: flex;
  align-items: center;
}

/* ARTIST */

.upload-file-container {
  border: 1px solid #D9D9D9;
  align-items: center;
}

.user-sidebar-main .sub-header {
  color: #535353;
  font-size: 15px;
}

.artist-follow {
  position: absolute;
}

.invisible-text {
  color: #d9d9d900;
}

.bg-artist {
  background: linear-gradient(to bottom, #740909, #000000);
  margin-top: -10px;

}



/* RESPONSIVE */
/* @media only screen and (max-width: 1080px) {
  .singing-background {
    display: none;
  }
} */

/* HEIGHTS */
.h-10 {
  height: 10%;
}

.h-15 {
  height: 15%;
}

.h-20 {
  height: 20%;
}

.h-30 {
  height: 30%;
}

.h-40 {
  height: 40%;
}

.h-60 {
  height: 60%;
}

.h-70 {
  height: 70%;
}